extends ../layout

block content
	.row
		h1.text-center= product.name
		.col-md-7
			.thumbnail
				img(src="#{product.image}")
		.col-md-5
			h5= product.category.name
			h5 $#{product.price}
			.description
				p
					Lorem ipsum dolor sit amet, eos fugit possit theophrastus ex. Qui elit munere id, ius agam ferri ei. Posse patrioque qui ad, facer voluptua adversarium cum eu, no his nisl novum philosophia. Meis detracto eu sed, ea sea brute similique. Virtute delectus facilisis vix ea, ius alienum vulputate ex. Stet suscipit qui ea, te possit inimicus imperdiet sea.

				p
					Erant animal et usu, nam albucius percipit no. In ius amet hinc placerat, ea quo alii saperet efficiendi. Et sea partem audiam ancillae, natum utinam euripidis vis at. Probatus euripidis vel ne.

				p
					Nisl prima admodum his et, nobis alterum forensibus per et. Timeam ancillae et sed, has ex odio praesent, utinam referrentur nec in. Forensibus referrentur mei ne, te eos exerci doming. Vim fabellas ocurreret forensibus eu, qui veri moderatius ut. Pri affert noster referrentur ea. Scribentur efficiantur at vis.

				p
					Ignota percipit ad pro, duo no modus nemore propriae. In mea cetero ornatus nusquam, sumo elitr labore sed ei, et quem doctus cum. Et audire luptatum tractatos per, cum quaestio interpretaris concludaturque an. Te saperet cotidieque sit. Vix antiopam sadipscing ut, vix harum regione phaedrum te, legere reprimique complectitur id cum.
